<?xml version="1.0"?>
<config>
    <modules>
        <YeahCommerce_Sync>
            <version>1.0.15</version>
        </YeahCommerce_Sync>
    </modules>
    <frontend>
        <routers>
            <yeah_sync>
                <use>standard</use>
                <args>
                    <module>YeahCommerce_Sync</module>
                    <frontName>sync</frontName>
                </args>
            </yeah_sync>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <catalog_product_delete_after>
                <observers>
                    <save_deleted_ids_observer>
                        <class>YeahCommerce_Sync_Model_Observer</class>
                        <method>saveOnDelete</method>
                    </save_deleted_ids_observer>
                </observers>
            </catalog_product_delete_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <yeah_sync_section>
                                            <title>Yeah!Commerce Sync</title>
                                        </yeah_sync_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <yeah_sync>
            <view>
                <secret_key></secret_key>
            </view>
        </yeah_sync>
    </default>
    <global>
        <events>
            <catalog_product_load_after>
                <observers>
                    <mobile_redirect_observer>
                        <class>YeahCommerce_Sync_Model_Observer</class>
                        <method>redirectToMobile</method>
                    </mobile_redirect_observer>
                </observers>
            </catalog_product_load_after>
        </events>
        <events>
            <catalog_controller_category_init_after>
                <observers>
                    <mobile_redirect_observer>
                        <class>YeahCommerce_Sync_Model_Observer</class>
                        <method>redirectToMobile</method>
                    </mobile_redirect_observer>
                </observers>
            </catalog_controller_category_init_after>
        </events>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <mobile_redirect_observer>
                        <class>YeahCommerce_Sync_Model_Observer</class>
                        <method>redirectToMobile</method>
                    </mobile_redirect_observer>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </global>
</config>